<head>
  <script src="https://cdn.tiny.cloud/1/mvkqn369dw7k4gc9206ay425577gyz5ven0euaj5a0cfssxm/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });
  </script>
</head>
<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2 class="text-center">Add New Post</h2>
</div>

<form action="/add-post" method="POST" class="postBox">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title" class="postTitle">

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10" class="postContent"></textarea>
  <input type="submit" value="Submit Post" class="btn postBtn">

</form>
<style>
  *{
    font-family: 'Montserrat', sans-serif;
  }
   .admin-title{
     text-align: center;
    
     display: flex;
     justify-content: center;
   }
   .admin-title h2{
    font-weight: 600;
    font-size: 1.6rem;
   }
   .pg-footer{
    display: none;
   }
   .postBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 4rem;
   }
   .postBox input, .postBox textarea{
    display: block;
   }
   .postBox label{
    margin-bottom: .5rem;
   }
   .postBox ::placeholder{
    font-weight: 500;
    color: #666;
   }
   .postBox .postTitle{
    height: 2rem;
    margin-bottom: 1.2rem;
    padding: 0rem .5rem;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .6px;
    border: 2px solid #232323;
    border-radius: 0px;
   }
   .postBox .postTitle:focus{
   border: 2px solid  red;
   border-radius: 0px;
   }
   .postBox .postTitle:active{
   border: 2px solid  red;
   border-radius: 0px;
   }
   .postBox .postContent{
    margin-bottom: 1.2rem;
    padding:  .5rem;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .6px;
    border: 2px solid #232323;
    border-radius: 0px;
    min-height: 18rem;
   }
   .postBox .postBtn{
    font-weight: 500;
    color: #fff;
    letter-spacing: .6px;
    font-size: 1rem;
   }
</style>